body{
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  max-width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -moz-font-feature-settings: initial;
  -webkit-font-feature-settings: normal;
 
  background: rgb(235,255,243);
background: linear-gradient(308deg, rgba(235,255,243,1) 0%, rgba(232,232,232,1) 52%, rgba(255,233,233,1) 100%);
}
/*
background: rgba(47, 1, 1, 0.11);
background: linear-gradient(40deg, rgba(47,1,1,1) 1%, 
rgba(68, 14, 14, 0.507) 25%,
 rgba(98, 0, 0, 0.904) 70%);
} */
.Luis{
  max-height: 50%;
}
#header{
  height: 160px;
  width: 100%;
  background: #E9ECEF;
  margin: 0px,0px,8px;
  color: #8A2D2D;
}
.h2, h2 {
  font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.jumbotron {
  color: #8a2d2d;
  margin: 0;
  padding: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background: #E9ECEF;
  height: 90px;
}
.text-center {
  text-align: center!important;
}
*, ::after, ::before {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.h3, h3 {
  font-size: 1.75rem;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1px;
}
h3 {
  display: block;
  margin-top: 10px;
  margin-bottom: 1px;
}
div {
  display: block;
}
.oculto{
  display: none;
}
.center{
  width: 100%;
}
.clearfix{
  clear: both;
  float: none;
}

#logo{
  margin-top: 5px;
  width: 12%;
  float: left;
  margin-left: 0px;
}
#logo2{
  margin-top: 30px;
  width: 27%;
  float: left;
  margin-left: 0px;
  
}
.text-logo{
  margin-top: 4px;
  font-size: 20px;
  color: rgb(126, 5, 5);
  float: left;
 

}
#logo img{
  margin-top: 20px;
  float: left;
  height: 60px;
}
@keyframes girar{
  form{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }


}
#brand{
  display: block;
  text-align: center;
  color:  #812121;
  font-size: 30px;
}
#menu{
  margin-top: -50px;
  width: 25%;
  float: right;
  font-size: 26px;
}
#menu ul{
  line-height:80px;
  width: 60%;
  float: right;
  
}
#menu ul li{
  list-style: none;
  height: 45px;
  display:inline-block;
  margin-left: 15px;
  margin-right: 15ps;
 
}
#menu a{
 
  color: rgb(255, 255, 255);
  transition: 200ms all;
  margin-left: 100px;

}
#menu a:hover{
  color:  #ecc5c5;
}
.active{
  text-decoration: none;
  padding: 6px;
  color: #e0e0e0;
  font-weight: 100;
  font-size: 15px;
  transition: 300ms;
}
.active:hover{
  color: rgb(145, 145, 145);
}
.active_archivos{
  text-decoration: none;
  color: black;
}

#slider{
  background: #9e9e9e60;
  max-width: 100%;
  height: 100px;
  line-height: 60px;
  color: #474646;
  font-weight:100;
  font-size: 20px;  
}

.btn-white{
  display: block;
  background: white;
  color: rgb(141, 106, 106);
  width: 150px;
  padding:10px;
  width: 100px;
  height: 50px;
  margin: 0px auto;
  margin-top: 40px;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 32px;
  box-shadow: 0px 0px 5px rgb(22, 22, 22);
  border-radius: 8px;
  transition: 250ms;
}
.btn-white:hover{
  background: rgb(126, 19, 19);
  color: white;
}
#slider.slider-small{
  height: 50px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
 
}
#slider.slider-small h1{

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  border: 0px;
  font-size: 22px;
  font-weight: 200;
  text-align:center;
 
}
#slider.slider-small h2{

  margin-top: -29px;
  margin-bottom: 0px;
  padding-top: 5px;
  border: 0px;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 200;
  text-align:left;
 
}
#content{
  display: block;
  width: 100%;
  border: 0px;
  border: 1px solid rgb(192, 192, 192);
  min-height: 1000px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 0px;
  border: 0px;
}
#sidebar{
  width: 30%;
  height: 460px;
  margin-top: 25px;
  margin-left:  480px;
  margin-bottom: 32px;
  background: rgb(255, 255, 255);
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  font-weight:300;
}
#sidebar.registroAlumno{
  height: 500px;
}
#sidebar.datosAlumno{
  height: 600px;
}
#sidebar.crearAdmin{
  height: 250px;
}
#sidebar.datosAdmin{
  height: 340px;
}
#sidebar.dictamenLeft{
  min-height: 160px;
  height: auto;
  margin-left: 10px;
  width: 400px;
}
#sidebar.dictamenRight{
  float: right;
  margin-top: -192px;
  margin-right: 8px;
  min-height: 220px;
  height: auto;
 width: 600px;
}
#sidebar.dictamenCenter{
  margin-left: 420px;
  margin-top: -193px;
  min-height: 120px;
  height: auto;
  max-width: 24%;
}
#sidebar.infoAdminLeft{
  height: auto;
  margin-left: 15px;
  max-width: 40%;
}
#sidebar.infoAdminCenter{
  margin-left: 520px;
  margin-top: -398px;
  height: auto;
  max-width: 24%;
}
#sidebar.archivosAdminCenter{
  float: center;
  margin-top: -295px;
  margin-left: 265px;
  min-height: 350px;
  height: auto;
  width: 1060px;
}
#sidebar.archivosAdminRight{
  margin-top: -300px;
  margin-left: 1060px;
  min-height: 70px;
  height: auto;
  max-width: 300px;
}
#sidebar.liberacionLeft{
  min-height: 780px;
  height: auto;
  margin-left: 15px;
  max-width: 40%;
}
#sidebar.liberacionRight{
  float: right;
  margin-top: -812px;
  margin-right: 8px;
  min-height: 220px;
  height: auto;
  width: 575px;
}
#sidebar.liberacionCenter{
  margin-left: 430px;
  margin-top: -812px;
  min-height: 120px;
  height: auto;
  max-width: 24%;
}
#sidebar.bajaLeft{
  min-height: 1000px;
  
  margin-left: 15px;
  max-width: 40%;
}
#sidebar.bajaRight{
  float: right;
  margin-top: -1032px;
  margin-right: 8px;
  min-height: 220px;
  height: auto;
  width: 575px;
}
#sidebar.bajaCenter{
  margin-left: 430px;
  margin-top: -1032px;
  min-height: 120px;
  height: auto;
  max-width: 24%;
}
#sidebar.servicioLeft{
  min-height: 250px;
  height: auto;
  margin-left: 15px;
  max-width: 40%;
}
#sidebar.servicioRight{
  float: right;
  margin-top: -282px;
  margin-right: 8px;
  min-height: 220px;
  height: auto;
  width: 585px;
}
#sidebar.servicioCenter{
  margin-left: 435px;
  margin-top: -282px;
  min-height: 90px;
  height: auto;
  max-width: 24%;
}
.warning{
  display: block;
  color:red;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  margin-left: 30px;
  
}
.warning_search{
  display: block;
  color:red;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-left: 30px;
}
.registrarse{
  color: #666666;
  font-size: 20px;
  float: right;
  margin-right: 70px;
  margin-top: -45px;
  text-decoration: none;
  transition: 200ms;
}
.registrarse:hover{
  color:#131313;

}
.btn{
 
  background: #0062b3;
  color: rgb(255, 255, 255);
  padding:15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  max-width: 1220px;
  transition: 200ms;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: center;
}

.datosAlumnos{
  max-width: 120px;

}
.btn:hover{
  background: #02275e;
  color: white;
}

.btn_join{
  background: #0062b3;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  max-width: 100px;
  transition: 200ms;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  float: center;
}
.btn_join:hover{
  background: #02275e;
  color: white;
}
/*input[type="text"],*/
.text
{
  width: 200px;
  height: 20px;
 
  border-inline-start-color: rgb(129, 47, 47);
  border-top: 20px;
  margin-bottom: 20px;
  border-radius: 1px;
  margin-left: 5px;
  margin-right: 100px;
  border-left: 100px;
 display:block ;

}

input[type="text"]:focus,
textarea:focus{
  background-origin: padding-box;
  box-shadow: 0px 0px 4px #5e5e5e inset;
}

.text_login{
  width: 200px;
  margin-top: 18px;
  margin-left: 28px;
  margin-bottom: 10px;
  display: block;
  text-align: left;
}
.input_login{
  width: 350px;
  height: 25px;
  margin-left: 0px;

 
  

}



#footer{
  background: rgb(197, 197, 197);
  width: 100%;
  height: 25px;
  margin-top: 0px;
  border-top: 0px;

  color: rgb(56, 56, 56);
  display: block;
  float: none;
}


.article-item{
  width: 1000px; bottom: 1px solid #ebebeb;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: left;
  width: 500px;
  margin-right: auto;


}
.article-item .image-wrap{
  width: 200px;
  height: 160px;
  
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border:1px solid;
}

.article-item h2{
  display: block;
  width: 100%;
  padding:0px;
  margin: 0px;
  margin-bottom: 0px;
  color: #126c85;
}
.article-item .date{
  display: block;
  width: 100%;
  color: rgb(100, 100, 100);

}
.article-item a{
  display: block;
  color: rgb(88, 89, 90);
  text-decoration: none;
  margin-top: 10px;
  transition: 200ms;
}
.article-item a:hover{
  
  color: #53cff1;
 
}
.article-item .image-wrap img{
  width: 200px;
  height: auto;
}
.center .subheader{
  font-size: 35px;
  text-align: center;
  
}
.article-detail .image-wrap {
 
  width: 3000px;
  height: auto;
  padding: 0px;
 
 
}
.article-detail .image-wrap img{
 
  width: 1200px;
  height: auto;
 
 
}
/*botones para todo elmenu*/
.btn-menu{
 
  background: white;
  color: rgb(0, 0, 0);
  width: 150px;
  padding:10px;
  width: 100px;
  height: 30px;
  margin: 0px auto;
  margin-top: 40px;
  font-size: 19px;
  font-weight: 400;

  text-shadow: none;
  text-decoration: none;
 
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  border-radius: 0px;
  transition: 300ms;
}
/*estilos FORMULARIO*/
.form-group{
  display: block;
  border: 3px rgb(109, 109, 109);
  width: 100%;  
  text-align: center;
  align-content: center;
  margin-bottom: 5px;
  padding: 0px;
}
.form-group label{
  display: block;
  text-align: justify;
  margin-left: 380px;
}
input[type="radio"]{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:2px;

}
.form-radio{
  text-align: justify;
  margin-left: 372px;
 
  
}
.center h1{
  text-align: center;
  font-size: 25px;
}
.table{
  padding-top: 5px;
  margin-top: 1px;
  text-align: center;
  background: #343a40;
  width: 280px; bottom: 1px solid #000000;
  padding-bottom: 10px;
}
.table_lista{
  padding-top: 1px;
  border-width: 1px;
  border-style: dotted;
  border-color: #bbbbbb;
  background-color: #ffffff;
  color: #135081;
  text-align: center;
  width: 250px; bottom: 1px solid #000000;
  padding: 6px;
 
}
.table_watch{
  padding-top: 5px;
  margin-top: 1px;
  text-align: center;
  background: #c9c9c981;
  width: 260px; bottom: 1px solid #000000;
  padding-bottom: 10px;
  margin-left: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
}
.table_watch_text{
  min-height: 80px;
  min-width: 230px;

}
#table-btn{
  background: #464c52;
  font-size: 16px;
  height: 35px;
  color: #ffffff;
 margin-top: 10px;
 transition: 300ms;
}
#table-btn:hover{
  background: #727272;
  cursor: pointer;
}

#btn_delete{
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  width: 60px;
  height: 24px;
  font-size: 13px;
  font-weight: 200;
  font-family:unset;
  text-shadow: none;
  text-decoration: none;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  transition: 300ms;
  cursor: pointer;
}
#btn_delete:hover{
  background: rgb(129, 6, 6);
  color: rgb(255, 255, 255);
}
#btn_deleteRegistro{
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  width: 80px;
  height: 45px;
  margin-left: 0px ;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 200;
  text-shadow: none;
  text-decoration: none;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  border-radius: 10px;
  transition: 300ms;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
#btn_deleteRegistro:hover{
  background: rgb(129, 6, 6);
  color: rgb(255, 255, 255);
}
#btn_downLoad{
  background: rgb(18, 224, 18);
  color: rgb(255, 255, 255);
  width: 110px;
  height: 80px;
  margin-left: 0px ;
  margin-right: 10px;
  font-size: 17px;
  font-weight: 200;
  text-shadow: none;
  text-decoration: none;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  border-radius: 0px;
  transition: 300ms;
  cursor: pointer;
}
#btn_downLoad:hover{
  background: rgb(11, 85, 9);
  color: rgb(255, 255, 255);
}
#btn_watch{
  background: rgb(17, 180, 167);
  color: rgb(255, 255, 255);
  width: 110px;
  height: 80px;
  margin: 10px ;
  font-size: 17px;
  font-weight: 200;
  text-shadow: none;
  text-decoration: none;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  border-radius: 0px;
  transition: 300ms;
  cursor: pointer;
}
#btn_watch:hover{
  background: rgb(27, 131, 145);
  color: rgb(255, 255, 255);
}
#linea{
  text-shadow: none;
  text-decoration: none;
  color:white;
}
 Link {
  font-size: 20px;
  padding: 15px;
  display:inline-block;
  text-shadow: none;
}
ul {
  display: inline;
  transition: 300ms;
  margin: 0;
  padding: 0;
}

ul li {display: inline-block;}

ul li:hover {background:#343a40;}
ul li:hover ul {display: block;}

ul li:hover {background: #343a40;}
ul li:hover ul {color: block;}

ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #343a40; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #343a40;}
#state_new{
  background-color:rgb(255, 115, 0);
  color: white;
  width: 80px;
  height: 45px;
  margin-left: 0px ;
  font-size: 18px;
  font-weight: 200;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
#state_processing{
  background-color:blue;
  color: white;
  width: 80px;
  height: 45px;
  margin-left: 0px ;
  font-size: 18px;
  font-weight: 200;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
#state_finished{
  background-color: green;
  color: white;
  width: 80px;
  height: 45px;
  margin-left: 0px ;
  font-size: 18px;
  font-weight: 200;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
#state_rejected{
  background-color: #343a40;
  color: white;
  width: 80px;
  height: 45px;
  margin-left: 0px ;
  font-size: 18px;
  font-weight: 200;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
/*************/
.modal{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0,0,0,0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
.contenedor h1{
  padding: 10px;
  background-color: #343a40;
  color: #ffffff;
}
#btn-modal:checked ~ .modal{
  opacity: 1;
  visibility: visible;
}
.contenedor{
  width: 500px;
  min-height: 210px;
  padding-bottom: 20px;
  height: auto;
  margin: auto;
  background: #ffffff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor{
  transform: translateY(0%);
}
.contenedor label{
  position: absolute;
  top: 10px; 
  right: 10px;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
}
#btn-modal{
  display: none;
}
.lbl-modal{
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.contenido{
  font-size: 20px;
}